<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="css/syntax.css">
    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/wedding.css">
    

  </head>

<!-- Nav and header area for the top of the page -->
    <body>
      <div class="hero">
        <div class="hero-img">
          <div class="container">
            <img src="../images/hero-title.png" width="22%">
          </div>
        </div>
        <div class="hero-nav">
          <div class="container">
            <ul class="nav-inline">
              <a href="#"><li>a&amps</li></a>
              <a href="#"><li>itinerary</li></a>
              <a href="#"><li>lodging</li></a>
              <a href="#"><li>travel</li></a>
              <a href="#"><li>registry</li></a>
              <a href="#"><li>contact</li></a>
            </ul>
          </div>
        </div>
      </div>

      <div class="content welcome">
        <div class="container">

        {% include welcome.html %}

        </div>
      </div>
      
      <div class="content itinerary">
        <div class="container">

        {% include itinerary.html %}

        </div>
      </div>

      <div class="content lodging">
        <div class="container">

        {% include lodging.html %}

        </div>
      </div>

      <div class="content travel">
        <div class="container">

        {% include travel.html %}

        </div>
      </div>

      <div class="content registry">
        <div class="container">

        {% include registry.html %}

        </div>
      </div>

      <div class="content contact">
        <div class="container">

        {% include contact.html %}

        </div>
      </div>

    </body>
</html>
