<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="css/syntax.css">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/wedding.css">

  </head>

<!-- Nav and header area for the top of the page -->
    <body>
      <div class="hero">
        <div class="hero-img">
          <div class="container">
            <img src="../images/hero-title.png" width="22%">
          </div>
        </div>
        <div class="hero-nav">
          <div class="container">
            <ul class="nav-inline">
              <li><a href="#">a&amps</a></li>
              <li><a href="#">itinerary</a></li>
              <li><a href="#">lodging</a></li>
              <li><a href="#">travel</a></li>
              <li><a href="#">registry</a></li>
              <li><a href="#">contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% content %}
        


        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>


          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
